@media(max-width:485px) {
    .index_header {
        padding-block: 20px 30px;
        padding-inline: 10px 35px;
    }

    .weather_me {
        font-size: 25px;
    }

    .dropdown_list::before {
        width: 15px;
        right: 30px;
    }

    .dropdown_list::after {
        width: 15px;
        right: 21px;
    }

    .dropdown_list {
        right: 12px;
        top: 70px;
    }

    .dropdown_ul {
        row-gap: 20px;
    }

    .dropdown_li {
        font-size: 14px;
    }

    .burger_menu {
        font-size: 25px;
    }

    .pages {
        font-size: 15px;
    }


    .switcher {
        width: 45px;
        height: 20px;
    }

    .switcher_circle {
        width: 15px;
        height: 15px;
    }

    /* search div */
    ::placeholder {
        font-size: 14px;
    }

    .country_search {
        font-size: 15px;
        padding-left: 40px;
    }

    .search_icon {
        left: 13px;
        width: 18px;
        height: 18px;
    }

    .weather_display_section {
        padding: 35px;
    }

    .temperature {
        font-size: 40px;
    }
}

/* celsius to fah */